.profile__headerImage > img {
  height: 250px;
  width: 100%;
  object-fit: fill;
}

.profile__icon > img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: -100px;
}

.profile__name {
  /* top: 50%; */
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.profile__flex {
  display: flex;
  justify-content: space-between;
}

.profile__id {
  /* top: 55%; */
  left: 6%;
  font-size: 18px;
  font-weight: bold;
  color: #8899a6;
}

.follow__button {
  border-radius: 500px;
  height: 40px;
  margin-top: -20px;
}

.follow__button a {
  text-decoration: none;
}

.btn a:hover {
  color: white;
}

.profile__bio {
  left: 10%;
  right: 10%;
  margin-top: 30px;
}

.profile__location {
  color: #8899a6;
}

.profile__date {
  color: #8899a6;
  padding-top: 2px;
}

.profile__link {
  padding-bottom: 50px;
  color: #8899a6;
}

.profile {
  margin: 20px;
}
