.profile__headerImage > img {
  height: 250px;
  width: 100%;
  object-fit: fill;
}

.profile__icon > img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 200px;
  position: absolute;
  top: 26%;
  left: 5%;
}

.profile__name {
  position: absolute;
  top: 50%;
  left: 6%;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

.profile__id {
  position: absolute;
  top: 55%;
  left: 6%;
  font-size: 18px;
  font-weight: bold;
  color: #8899a6;
  margin-top: 30px;
}

.follow__button {
  position: absolute;
  right: 5%;
  border-radius: 50px;
}

.follow__button a {
  text-decoration: none;
}

.btn a:hover {
  color: white;
}

.profile__bio {
  position: absolute;
  top: 63%;
  left: 10%;
  right: 10%;
  margin-top: 30px;
}

.profile__location {
  position: absolute;
  top: 95%;
  color: #8899a6;
}

.profile__date {
  position: absolute;
  top: 110%;
  color: #8899a6;
  padding-top: 2px;
}

.profile__link {
  position: absolute;
  top: 130%;
  padding-bottom: 50px;
  color: #8899a6;
}
